@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
* {
    margin: 0;
    padding: 0;
}
:root {
    --wClr: #ffffff;
    --bClr: #000000;
}
.navbar {
    background: tomato;
    box-shadow: 0 0 5px var(--bClr);
    height: 70px;
}
.nav-link {
    color: var(--bClr);
    font-family: "Play", sans-serif;
}
